header.header

  nav.nav
    ul.nav__links 
      li.nav__item 
        a.nav__link(href='#section--1') Monk Parakeet
      li.nav__item
        a.nav__link(href='#section--2') Fiddle Crabs
      li.nav__item 
        a.nav__link(href='#section--3') Past/Current Projects 
      li.nav__item.dropdown
        button.dropbtn.nav__link Media Files
        .dropdown-content
          a(href="image") Images 
          a(href="audio") Audios 
          a(href="video") Videos
      li.nav__item 
        a.nav__link.nav__link--btn.btn--show-modal(href='#') Register
      li.nav__item 
        a.nav__link.nav__link--btn.btn--show-modalLogin(href='#') Log in
      li.nav__item 
        a.nav__link.nav__link--btn(href='options')
          img.nav__option__icon(src="images/menu.png", alt="option-icon")

  .header__title 
    h1 
      span.highlight Did
      |  you<br>
      span.highlight know?
    
    h4 There are Monk Parakeet and Fiddle Crabs in New York City
    button.btn--text.btn--scroll-to Learn more &DownArrow;
    
    img.header__img(src='/images/hero.png' alt='Minimalist bird items')
    img(src='images/Fiddler-Crabs.jpg' alt='Minimalist crabs items')
  


