doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ${title}
    link(rel="stylesheet", href="stylesheets/audio.css", type='text/css')
  body 

    header 
      .back
        a.btn(href='/') Back
      h1
        span.highlight All
        |  our 
        span.highlight audios
    
    h1 This is to display audio